.DS_Store

.cxx/
.externalNativeBuild/
.gradle/
.idea/*
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/codeStyles/
.tander/
build/
captures/
fastlane/report.xml
fastlane/README.md

*.apk
*.hprof
*.iml
*.jks
*.keystore
*.log
deploymentTargetDropDown.xml
google-services.json
keystore.properties
local.properties
misc.xml
output.json
render.experimental.xml